<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <title>| Medicine Price Compare App |</title>
  </head>
  <body style="background-color: rgb(3, 252, 232);">
    <center>
    <div class="container" style="background-color: rgb(3, 252, 232); padding: 10px;">
      <h1>MedCompare</h1>
    </div>
         
 <h4 style="text-align:center;"; border: 1px solid black;
 
 >1Mg Search Results
 
 </h4>
          <h5 style="color: rgb(240, 74, 41);" class="card-title">Price of medicine:₹ {{price}} 
          </h5>
         
   
 <div/>
